<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nguyenquangduong.totnghiep">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:theme">
        <activity android:name=".FavoritesActivity"></activity>

        <service
            android:name=".Service.ListenOrder"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".SearchActivity" />
        <activity android:name=".ShowComment" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".SignUp"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".SignIn"
            android:theme="@style/AppTheme1" />
        <activity android:name=".FoodList" />
        <activity android:name=".FoodDetail" />
        <activity
            android:name=".Cart"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".OrderStatus"
            android:theme="@style/AppTheme1" />

        <service android:name=".Service.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>